.ipynb_checkpoints
.python-version
__pycache__
node_modules
package-lock.json
/0_download/*.tgz
/1_input/*.annotation
/1_input/*.de
/1_input/*.en
/1_input/*.sgm
/1_input/processed/*.bin
/1_input/processed/*.de
/1_input/processed/*.en
/1_input/processed/*.sgm
/1_input/processed/*.tsv
/2_clean/*.de
/2_clean/*.en
/3_tokenizer/tokenizer.json
/4_tokens/*.bin
/4_tokens/*.bidx
/4_tokens/*.idx
/5_checkpoints/*.pt
/.claude
/CLAUDE.md
/py/seqs_pb2.py
/py/seqs_pb2.pyi
/tmp/*.bin
/tmp/*.bidx
/tmp/*.de
/tmp/*.en
/tmp/*.idx
/tmp/*.sgm
